.gallery {
    /*width: 650px;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Main display */
.main-display {
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
}
.main-img {
    width: 750px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 12px;
}
.desc {
    max-width: 550px;
    padding-left: 50px;
    /*margin-top: 10px;*/
    /*font-size: 16px;*/
    /*font-weight: 500;*/
    /*color: #333;*/
}

/* Thumbnail row */
.thumb-row {
    overflow-x: auto;
    scrollbar-width: thin;
}
.thumb-slider {
    display: flex;
    gap: 12px;
}
.thumb {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.thumb:hover {
    transform: scale(1.05);
}


.slider {
    position: relative;
    width: 600px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 600px;
    height: 400px;
    object-fit: cover;
}

.btn-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: white;
}
