
.slide {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    /*width: 700px;*/
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin: 0 30px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.slide:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.view-project {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--mode-switch);
    padding-top: 30px;
}

.overlay-content .icon {
    font-size: 28px;
    margin-right: 15px;
}


/* Desktop hover */
.slide:hover .overlay {
    opacity: 1;
}

/* Mobile tap (via .show-overlay) */
.slide.show-overlay .overlay {
    opacity: 1;
}

/* Responsive tweak */
@media (max-width: 768px) {
    .swiper-wrapper {
        width: 22em;
    }
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 30px;
    }
    /*.swiper-slide .swiper-slide-active{*/
    /*    margin-right: 0;*/
    /*}*/
    /*.slide img {*/
    /*    height: 40%;*/
    /*}*/
}


