.work-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 16px;
}

.job {
  border-bottom: 1px solid var(--primary-text);
  padding: 8px 0;
}

.job-header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  padding: 12px 0;
  background-color: transparent;
  border: none;
  width: 100%;
  transition: background 160ms ease;
}

.job-header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.job-title {
  /*font-size: 1.1rem;*/
  /*font-weight: bold;*/
  margin: 0;
}
.up-down{
    color: var(--mute-text);
}

.job-meta {
  /*font-size: 0.9rem;*/
  color: var(--mute-text);
  text-align: left;
}

.job-highlights {
  margin: 8px 0 16px 28px;
  padding: 0;
  list-style-type: disc;
  /*color: #444;*/
}

.chevron {
  width: 18px;
  height: 18px;
  transition: transform 0.3s ease;
  color: var(--darkSecondary);
}

.chevron.rotate {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .job-title {
    font-size: 0.85rem;
  }
}
