:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #c9c8bf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--mute-text);


    --primary-bg: #F8F9FA;
    --sec-bg: #673147;
    --sub-bg:#FFF7E9;
    --primary-text: #2C3E50;
    --heading: #4D96FF;
    --sec-text: #5D6D7E;
    --nav-text: #2C3E50;
    --contact-bg: #F0F2F5;
    --btn-bg: #2C3E50;
    --border-color: #673147;
    --sec-btn: #2C3E50;
    --box-shadow: rgba(0, 0, 0, 0.16);
    --header-bot: #4D96FF;
    --side-nav: rgba(255, 255, 255, 0.2);


    --dark-charcoal: #2a2a2a;
    --accent-color: #8f9779;
    --crimson: #a61c3c;
    --off-white: #f5f5f5;
    /*--primary-text: #fad7a0;*/
    --colorWhite: #ffffff;
    --darkSecondary: #d1d5db;
    --colorGrey: #d9d9d9;
    /*--gray: #9b9b9b;*/
    --mute-text: #9ca3af;



}
[data-theme="dark"] {
    /*--primary-bg: #f5f5f5;*/
    /*--sec-bg: #673147;*/
    /*--sub-bg:#FFF7E9;*/
    /*--accent-color: #8f9779;*/
    /*--primary-text: #4D96FF;*/
    /*--darkSecondary: var(--dark-charcoal);*/


    --primary-bg: #2c3e50;
    --sec-bg: #673147;
    --sub-bg:#283f5b;
    --primary-text: #fad7a0;
    --heading: #d1d5db;
    --sec-text: #d1d5db;
    --nav-text: #d9d9d9;
    --colorGrey: #d9d9d9;
    --gray: #9b9b9b;
    --contact-bg: #673147;
    --btn-bg: #fad7a0;
    --mute-text: #AAB7B8;
    --border-color: #8f9779;
    --sec-btn: #8f9779;
    --header-bot: #8f9779;
    --side-nav: rgba(44, 62, 80, 0.6);

    /*--primary-text: #d9d9d9;*/

    --dark-charcoal: #2a2a2a;
    --accent-color: #8f9779;
    --crimson: #a61c3c;
    --off-white: #673147;
    /*--primary-text: #fad7a0;*/
    --colorWhite: var(--sec-bg);
    --darkSecondary: #d1d5db;

}

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
}

@font-face {
  font-family: "SpaceGroteskXL";
  src: url("assets/fonts/static/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  /*font-size: 88px;*/
}
@font-face {
  font-family: "SpaceGroteskMed";
  src: url("assets/fonts/static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  /*font-size: 18px;*/
}

.textPresetXL {
  font-family: "SpaceGroteskXL", sans-serif;
  /*font-size: 5.5rem;*/
  font-size: clamp(2rem, 5vw, 5rem);
  /*margin: 0;*/
}
.textPresetL {
  font-family: "SpaceGroteskXL", sans-serif;
  font-size: clamp(1.5rem, 2vw, 3rem);
  /*margin: 0;*/
}
.textPresetBold {
  font-family: "SpaceGroteskXL", sans-serif;
  font-size: clamp(1rem, 2vw, 1.5rem);
  /*margin: 0;*/
}
.textPreset1Med {
  font-family: "SpaceGroteskMed", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  /*margin: 0;*/
}
.textMargin {
  margin: 5px;
}

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/

/*button {*/
/*  border-radius: 8px;*/
/*  border: 1px solid transparent;*/
/*  padding: 0.6em 1.2em;*/
/*  font-size: 1em;*/
/*  font-weight: 500;*/
/*  font-family: inherit;*/
/*  background-color: #1a1a1a;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.25s;*/
/*}*/
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
